.BookTwoPageLayout Image {
  background-image: resource("book-pop-up");
  position: absolute;
  width: 2642px;
  height: 1679.14px;
  align-self: center;
}

.BookTwoPageLayout {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms ease-in;
}
