
#bottom-bar{
    padding: 10px 30px;
    background-color: #000;
    align-items: flex-start;
    justify-content: space-evenly;
}

#logo-image{
    background-image: resource("logo");
    width: 100px;
    height: 25px;
    align-self: center;
}

#status-label{
    margin-left: 40%;
}